
NEXTAUTH_SECRET=secret # The secret key used for signing JWT tokens, it must be equal to the secret key used in the backend - A chave secreta usada para assinar tokens JWT, deve ser igual à chave secreta usada no backend (recomendado deixar a mesma que está) 